li {
	list-style-type: none;
}


/**navbar**/
.navbar-collapse .nav {
	float: right;
}

/**login-form**/
.col-lg-4 {
	float: none;
	margin: 0 auto;
}

.img-pad {
	padding-bottom: 20px;
}

.prof-info {
	margin-left: -45px;
}

.codename-icon li {
	display: inline;
	font-size: 24px;
}

.codename-icon li span {
	margin-left: 20px;
}

.codename li {
	font-size: 20px;
	color: #fff;
}

.form-centered {
	float: none;
	margin: 0 auto;
}

.img-centered img {
	margin: 0 auto;
}

.margin-list {
    margin: 35px 0 45px;
}

.table-header th {
    font-size: 23px;
    height: 65px;
    text-align: center;
}

.table-header td {
    height: 55px;
    text-align: center;
}

.padding-editor {
    padding-left: 20px;
}


#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.editor-wrapper .well {
    position: relative;
    width: 750px;
    height: 550px;
}